<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKnTnSpW994NOZGMNmUtNu0pgW6TGLq_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>624025905354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RIT.authuser</string>
	<key>PROJECT_ID</key>
	<string>authuser-ef3bd</string>
	<key>STORAGE_BUCKET</key>
	<string>authuser-ef3bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624025905354:ios:19ab5a1bfd1b7c6e95ec33</string>
</dict>
</plist>